{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <p class="text-light m-auto portfolio-wrap" style="padding-top: 30px; padding-bottom: 10px; align-content: center">Welcome Back</p>
                <h1 class="text-light">{{ user.username }}</h1>

            </div>
            {#        Including Nabbar#}
            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="#send_report" class="nav-link scrollto"><i class="bx bxs-book-alt"></i> <span>Send Reports</span></a></li>
                    <li><a href="/" class="nav-link scrollto"><<i class="bi bi-house"></i> <span>Back Home</span></a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->


    <main id="main" style="background-color: #eaeaea">
        <!-- ======= Paramotor All Reports ======= -->
        <section id="send_report" class="facts">
            <div class="container">

                <div class="section-title">
                    <h2>Sent Mail</h2>
                </div>

                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="{{ sent_mail_count }}" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Sent Mail</strong></p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="{{ rejected_mail_count }}" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Rejected Mail</strong></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="{{ unsent_mail_count }}" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Unsent Mail</strong></p>
                        </div>
                    </div>
                </div>

                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for user in rejected_mail_users %}
                        <tr>
                            <td>{{ user }}</td>
                            <td>REJECTED</td>
                        </tr>
                    {% endfor %}
                    {% for user in unsent_mail_users %}
                        <tr>
                            <td>{{ user }}</td>
                            <td>UN-SENT</td>
                        </tr>
                    {% endfor %}
                    {% for user in sent_mail_users %}
                        <tr>
                            <td>{{ user }}</td>
                            <td>SENT</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>User</th>
                        <th>Status</th>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </section><!-- End Facts Section -->



    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="inner-container">
                <i class="bi bi-box-arrow-right"></i>
                <a href="/logout/" class="button" >Logout</a>
            </div>


        </div>
    </footer><!-- End  Footer -->

{% endblock %}