/* body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background-color: #eaeaea;
}

 html {
  height: 100%;
 } */

 html {
  margin: 0px;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background-color: #eaeaea
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p {
  padding: 4vmax;
} 

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 19.5vmax;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 0.97vmax;
  background: #112e54;
  overflow-y: auto;
}

#header .profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#header .profile img {
  margin: 0.97vmax auto;
  display: block;
  width: 7.8vmax;
  border: 0.52vmax solid #2c2f3f;
}

#header .profile h1 {
  font-size: 1.52vmax;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 0.52vmax 0;
  margin-right: 0.26vmax;
  border-radius: 50%;
  text-align: center;
  width: 2.34vmax;
  height: 2.34vmax;
  transition: 0.3s;
}
#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -19.53vmax;
  }

  #main {
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 1.9vmax 0 0 0;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 0.78vmax 0.97vmax;
  margin-bottom: 0.52vmax;
  transition: 0.3s;
  font-size: 0.97vmax;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 1.56vmax;
  padding-right: 0.52vmax;
  color: #6f7180;
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
  color: #149ddd;
}
/* style="padding-top: 30px; padding-bottom: 10px; align-content: center" */
.profile .portfolio-wrap {
   padding-top: 1.9vmax;
   padding-bottom: 0.65vmax;
   align-content: center;
   justify-content: center;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 0.97vmax;
  top: 0.97vmax;
  z-index: 9998;
  border: 0;
  font-size: 1.56vmax;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 2.6vmax;
  height: 2.6vmax;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 3.2vmax;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}
#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  box-sizing: border-box;
}

.section-bg {
  background: #f5f8fd;
}

.merchant-detail-1  {
  position: relative;
  top: -1vmax;
}

.update-merchant-title {
  position: relative;
  bottom: 1.2vmax;
}

#uploadreport .section-title {
  display: block;
}

.section-title p {
  font-size: 1.3vmax;
  color: #112E54;
  height: 5vmax;
  width: 100vmax;
}
.section-title h2 {
  font-size: 2vmax;
  font-weight: bold;
  margin-bottom: 1.5vmax;
  padding-top: 2vmax;
  padding-bottom: 1.5vmax;
  position: relative;
  color: #112E54;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
.section-title .upload-description {
  margin-bottom: 0;
  padding-left: 100px;
}

.section-title .merchant-button{
  padding-bottom: 1vmax;
}

.login-section {
  overflow: scroll;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 10px;
}
.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}
.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# send_report
--------------------------------------------------------------*/
#send_report {
  padding-bottom: 1.9vmax;
  overflow: scroll;
}
#send_report .count-box {
  padding: 1.9vmax;
  width: 100%;
}
#send_report .count-box i {
  display: block;
  font-size: 2.8vmax;
  color: #149ddd;
  float: left;
  line-height: 0;
}
#send_report .count-box span {
  font-size: 3.1vmax;
  line-height: 2.6vmax;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 3.9vmax;
}
#send_report .count-box p {
  padding: 0.97vmax 0 0 0;
  margin: 0 0 0 3.9vmax;
  font-family: "Raleway", sans-serif;
  font-size: 0.96vmax;
  color: #122f57;
}
#send_report .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 1.3vmax;
  color: #122f57;
  font-size: 0.977vmax;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}
#send_report .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #149ddd;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}
.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #37b3ed;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}
.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
}
.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #149ddd;
}
.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #343a40;
}
.services .title a:hover {
  color: #149ddd;
}
.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

.page-item.active .page-link {
  background-color: #112E54;
  border-color: #112E54;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}
.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}
.contact .info .email p {
  padding-top: 5px;
}
.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}
.contact .merchant-form  {
  width: 100%;
  height: 98%;
  padding: 1.95vmax;
  background: #fff;
  border-radius: 1.3vmax;
  box-shadow: 0 0 1.53vmax 0 rgba(0, 0, 0, 0.12);
  position: relative;
}

.bulk-container {
  margin-top: 6.5vmax;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 17.5vmax;
}

.contact .merchant_bulk_upload_div{
  border: 0.065vmax solid #ccc; 
  padding: 0.97vmax; 
  border-radius: 1.3vmax; 
  box-shadow: 0 0 0.65vmax rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9; 
  height: 11.71vmax;
  width: 24vmax;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .section-form .button{
  background-color: #112E54 ;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
} */

.section-form .button:hover{
     background-color: #1b4a87;
     color: #fff;
}
.contact .merchant-form .form-group {
  padding-bottom: 0.521vmax;
  border-radius: 1.3vmax;
}
.contact .merchant-form .validate {
  display: none;
  color: red;
  margin: 0 0 0.97vmax 0;
  font-weight: 400;
  font-size: 0.84vmax;
}
.contact .merchant-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 0.97vmax;
  font-weight: 600;
}
.contact .merchant-form .error-message br + br {
  margin-top: 1.62vmax;
}
.contact .merchant-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 0.97vmax;
  font-weight: 600;
}
.contact .merchant-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 0.97vmax;
}
.contact .merchant-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 1.53vmax;
  height: 1.53vmax;
  margin: 0 0.65vmax -0.39vmax 0;
  border: 0.19vmax solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .merchant-form .form-group .form-control{
  border-width: medium;
}

.contact .merchant-form .form-group {
  margin-bottom: 0.97vmax;
  border-radius: 1.3vmax;
}
.contact .merchant-form label {
  padding-bottom: 0.52vmax;
  font-size: 1.2vmax;
  font-weight: 400;
}
.contact .merchant-form input, .contact .merchant-form textarea {
  border-radius: 0.52vmax;
  box-shadow: none;
  font-size: 0.911vmax;
}
.contact .merchant-form input {
  height: 2.86vmax;
}
.contact .merchant-form textarea {
  padding: 0.65vmax 0.97vmax;
}
.contact .merchant-form button[type=submit] {
  color: white;
  background-color: #112E54;
  border: none;
  outline: none;
  padding: 0.45vmax 1.3vmax;
  border-radius: 0.52vmax;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0.84vmax 1.75vmax -0.32vmax, rgba(0, 0, 0, 0.3) 0px 0.52vmax 1vmax -0.52vmax;
  font-size: 1vmax;
}
.contact .merchant-form button[type=submit]:hover {
  background: #1b4a87;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0.977vmax;
  color: #f4f6fd;
  font-size: 0.911vmax;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 19.51vmax;
  z-index: 9999;
  background: #112e54;
}

#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 0.326vmax;
  text-align: center;
  font-size: 0.846vmax;
  color: #eaebf0;
}

#footer .container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.95vmax;
}

#footer .inner-container{
  font-weight: bolder;
  font-size: large;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 1.3vmax 0.97vmax;
  }
}

/*--------------------------------------------------------------
# containers for tables
--------------------------------------------------------------*/
/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.table-container {
  border: 0.07vmax solid #ccc; 
  padding: 2vmax; 
  border-radius: 1.3vmax; 
  width: 100%;
  box-shadow: 0 0 0.658vmax rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.sent-mail {
  position: relative;
  top: -1vmax;
}

.sent-mail table{
  text-align: center;
  overflow: auto;
}


.sent-mail-count-div {
  align-items: center;
  justify-content: space-around;
}

.dataTables_wrapper {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  width: 100%;
}

.table-container .dataTables_filter{
  display: flex;
  align-items: center;
  float: right;
}

.dataTables_filter label {
  width: 100%;
}

.dataTables_filter label::after {
  content: none;
}

.dataTables_length {
  display: flex;
  align-items: center;
  float: left;
}

.dataTables_length label {
  width: 100%;
}

.dataTables_wrapper {
  width: 100%;
}

.col-md-6 {
  flex: 1 1 auto;
  max-width: 50%;
  box-sizing: border-box;
}

.col-sm-12 {
  overflow: auto;
}

.table-container table {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  border-collapse: collapse; 
  overflow: scroll;
}

.table-container th, .table-container td {
  border: 0.07vmax solid #ddd; 
  padding: 0.527vmax; 
}

.table-container th {
  background-color: #f2f2f2; 
  text-align: left; 
}

/* .row{
  margin: 0;
} */



.main-upload-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upload-container{
  border: 1px solid #ccc; 
  height: 18vmax;
  width: 30vmax;
  padding: 1vmax; 
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  min-width: 0;
}

.upload-inner-container, .inner-send-container, .bulk-inner-container, .download-inner-container {
  display: flex;
  font-size: 1em;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: None;
  border-style: dashed;
  border-radius: 1vmax;
  border-width: 0.13vmax;
  border-color: #112E54;
  background-color:#e7eaed;
}

.upload-inner-container input, .inner-send-container input, .bulk-inner-container input, .sent-mail input {
  font-size: 1vmax;
  padding: 0.658vmax;
  float: left;
}

.input_1-container, .input_2-container{
  display: flex;
  align-items: center;
  justify-items: space-around;
  flex-direction: column;
}

.button_upload {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: 2vmax;
  flex-direction: column;
}

.upload-container label, .send-container label, .form-group-label, .download-container label, .sent-mail label{
  color: #112E54;
  font-weight: bold;
  font-size: 1.25vmax;
  padding: 0.658vmax;
  float: left;
}

label:after { content: ": " }
.img_1, .img_3, .img_2 {
  padding: 10px;
  padding-top: 15px;
}


/*--------------------------------------------------------------
# CSS for the changes done
--------------------------------------------------------------*/

.file-selector, .send-reports-button, .bulk-button, .delete-button, .download-button, .sent-mail button {
  color: white !important;
  background-color: #112E54 !important;
  border: none;
  outline: none;
  padding: 0.461vmax 1.317vmax;
  border-radius: 0.527vmax;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0.84vmax 1.75vmax -0.32vmax, rgba(0, 0, 0, 0.3) 0px 0.52vmax 1vmax -0.52vmax;
  font-size: 1.2vmax;
}

/* .send-reports-button {
  color: white;
  background-color: #112E54;
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 8px;
  position: relative;
  left: -100px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} */

.file-selector:hover, .send-reports-button:hover, .text-end .delete-button:hover, .bulk-button:hover {
  background-color: #1b4a87 !important;
}

.upload-description {
  padding-left: 30px;
}

.section-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 17vmax;
}

.section-form .send-container, .download-container {
  border: 1px solid #ccc; 
  padding: 0.97vmax; 
  border-radius: 1.3vmax; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9; 
  height: 13vmax;
  width: 24vmax;
  position: relative;
}

.input_4 {
  padding: 10px;
  padding-left: 50px;
}

.bi-envelope-paper-fill,  .bi-backpack4-fill{
  color: #112E54;
}

.send-photo {
  display: flex;
}

.send-photo i {
  font-size: 1.6vmax;
}

.bulk-photo i{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Default styles for larger screens */
.button {
  width: 200px;
} 

.alert {
  z-index: 10000;
}

.alert-dismissible {
  background-color: #FFFDD0;
}


/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .button {
      width: 100%;
  }
}

@media (max-width: 768px) {
  #example {
      overflow-x: auto; 
  }
  #example th, #example td {
      white-space: nowrap; 
  }
}

@media (min-width: 600px) {
  .container{
    width: 96%;
    height: 77%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
