{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <!-- ======= Mobile nav toggle button ======= -->
    {% comment %} <i class="bi bi-list mobile-nav-toggle d-xl-none"></i> {% endcomment %}
    <i class="bi bi-three-dots mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <p class="text-light m-auto portfolio-wrap">Welcome Back</p>
                <h1 class="text-light username">{{ user.username }}</h1>

            </div>
            {#Including Nabbar#}
            {% include 'utils/navbar.html' %} 

        </div>
    </header><!-- End Header -->


    <main id="main">

        {% include 'merchant/merchant.html' %}

        {% include 'merchant/upload_report.html' %}

        {% include 'merchant/send_report.html' %}






        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container">
                <div class="inner-container">
                    <i class="bi bi-box-arrow-right"></i>
                    <a href="/logout/" class="button" >Logout</a>
                </div>
            </div>
        </footer><!-- End  Footer -->
    </main>

{% endblock %}