<!-- ======= Skills Section ======= -->
<!-- ======= Facts Section ======= -->
<section id="sendreport" class="facts">
    <div class="container">

        <div class="section-title">
            <h2>Send Report<i class="bi bi-envelope-arrow-up-fill img_2"></i></h2>
            <p>Please Select The Zip File</p>
        </div>

        <div class="row no-gutters">

            <form action="send-reports/check-merchant/" enctype="multipart/form-data" method="post" role="form" class="merchant-form justify-content-center">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <div class="section-form text-center ">
                            <label for="id_send_report">Send Report </label>
                            <br>
                            <input type="file" name="send_report" id="id_send_report" required>
                            <hr>
{#                            <label for="id_paid_date" style="text-align: left">Please Select Settlement Date:</label>#}
{#                            <br>#}
{#                            <input type="date" id="id_paid_date" name="paid_date" style="border-top-right-radius: 10px;padding: 10px;margin: 10px;border-width: 0.5px">#}
{#                            <hr>#}
                            <button class="button" type="submit">Send reports</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
</section><!-- End Facts Section -->

</section><!-- End Skills Section -->