<!-- ======= Skills Section ======= -->
<section id="uploadreport" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Upload Report</h2>
            <p>Please upload the necessary files to generate the PDF </p>
        </div>

        <div class="row skills-content">

            <div class="col-lg-5" data-aos="fade-up">
                <form action="upload/" enctype="multipart/form-data" method="post" role="form" class="merchant-form justify-content-center">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <div class="section-form text-end ">
                                <label for="id_paramotor_all_reports">Paramotor All Reports</label>
                                <input type="file" name="paramotor_all_reports" id="id_paramotor_all_reports" required>
                                <hr>
                                <label for="id_final_all_reports">Final All Reports</label>
                                <input type="file" name="final_all_reports" id="id_final_all_reports" required>
                                <hr>
                                <button class="button" type="submit">Upload reports</button>
                            </div>
                        </div>



                    </div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Skills Section -->