{% comment %} <nav class="navbar navbar-light bg-light">
  <ul>
    <li class="navbar-brand mb-0 h1"><a href="#merchant" class="nav-link scrollto"><i class="bx bx-user"></i> <span class="navbar-brand mb-0 h1">Merchant</span></a></li>
    <li class="navbar-brand mb-0 h1"><a href="#uploadreport" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span class="navbar-brand mb-0 h1">Upload Report</span></a></li>
    <li class="navbar-brand mb-0 h1"><a href="#sendreport" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span class="navbar-brand mb-0 h1">Send Report</span></a></li>
  </ul>
  styling
</nav>  {% endcomment %}
<nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#merchant" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Merchant</span></a></li>
          <li><a href="#uploadreport" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Upload Report</span></a></li>
          <li><a href="#sendreport" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Send Report</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->  